@use '../base/vars';

.game-over {
  font-size: 32px;
  font-size: calc(14px + 2vh);
  color: vars.$color-white;
  padding-top: 1em;
  background-image: vars.$img-bg;
  position: relative;
  z-index: 0;
  font-family: vars.$font-primary;
  box-sizing: content-box;
  overflow: hidden;

  section {
    position: relative;
    background-color: vars.$color-bg-dark;
  }

  section:before {
    background-color: vars.$color-purple;
    overflow: hidden;
  }

  section:nth-child(3n+2):before{
    background: linear-gradient(225deg, vars.$color-greenyellow, vars.$color-blue);
  }

  section:nth-child(3n):before{
    background: linear-gradient(225deg, vars.$color-red, vars.$color-gold);
  }

  .player-avatar {
    width: 2em;
    height: 2em;
    display: block;
    margin: .5em auto;
  }
}

.game-over--accent {
  color: vars.$color-red;
  text-shadow: 1px 1px black;
}

.game-over__intro-title {
  font-size: 150%;
  margin: 1em auto 2em auto;
  text-align: center;
  font-family: vars.$font-secondary;
}

.game-over__most-punished {
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
  font-size: 150%;

  i {
    position: relative;
    top: -.3em;
  }
}

.game-over__globals {
  padding: 1em 15%;
  margin: 2em auto;
  background-color: rgba(93, 0, 255, 0.2);
}

.game-over__player-stats {
  display: flex;
  flex-wrap: wrap;
}

.game-over__ps {
  box-sizing: border-box;
  width: 50%;
  padding: 1em;
  transition: .5s;
}

.game-over__ps:nth-child(3n) {
  background-color: vars.$color-purple;
}

.game-over__ps:nth-child(3n+1) {
  background-color: vars.$color-red;
}

.game-over__ps:nth-child(3n+2) {
  background-color: vars.$color-cyan;
  color: vars.$color-font-invert;

}

.game-over__ps__name {
  text-align: center;
  margin-top: .1em;
}

@media (max-width: vars.$screen-small-w) {
  .game-over {
    font-size: 24px;
    font-size: calc(14px + 1vh);
  }

  .game-over__globals{
    padding: 1em 5%;
  }
}
