@use '../base/vars';
@use '../base/mixins';

.player-list {
  position: relative;
  animation-duration: 1s;
  animation-name: pl-container-enter;
  visibility: visible;
}

.player-list--hidden {
  animation-duration: 1s;
  animation-name: pl-container-leave;
  visibility: hidden;
}

@keyframes pl-container-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pl-container-leave {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.player-list__intro {
  font: 110% vars.$font-secondary;
}

.player-list__intro__invalid {
  @include mixins.invalid-text;
  margin: .5em 0;
}

.player-list__list {
  width: 100%;
  min-width: 260px;
}

.player-list__cell {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1em;
  width: 50%;
  transition: .5s;
  cursor: pointer;
  word-break: normal;

  display: flex;
  align-items: center;

  color: vars.$color-font-primary;
  border: none;
  background-color: vars.$color-purple;

  .player-avatar {
    margin-right: .5em;
  }
}

.player-list__cell:hover {
  background-color: vars.$color-cyan;
  color: vars.$color-font-invert;
}

.player-list__cell-add {
  background-color: vars.$color-greenyellow;
  color: black;
}

.player-list__cell-add:hover {
  background-color: vars.$color-red;
  color: vars.$color-white;
}

@media (max-width: vars.$screen-mid-w) {
  .player-list__cell {
    width: 95%;
  }
}
