@use '../base/vars';

.loading-screen {
  width: 100%;
  height: 100%;
}

.loading-screen:before {
  content: 'x';
  font: 1px vars.$font-primary;
  position: absolute;
}

.loading-screen:after {
  content: 'x';
  font: 1px vars.$font-secondary;
  position: absolute;
}
