@use '../base/vars';

.time-elapsed-indicator {
  width: 100%;
  height: 20px;
  background-color: crimson;
  /*transition-property: width;
  transition-duration: 2s;*/
  animation-name: time-indicator-anim;
  animation-timing-function: linear;
}

.time-elapsed-indicator--paused {
  animation-play-state: paused;
}

@keyframes time-indicator-anim {
  from {
    background-color: vars.$color-greenyellow;
    filter: brightness(1);
    width: 0;
  }
  to {
    width: 100%;
    filter: brightness(1);
    background-color: vars.$color-red;
  }
}