@use '../base/vars';
@use "../base/mixins";

.pgg-attention-bg{
  @include mixins.attention-grabber-bg
}

.pgg-btn-l{
  font-family: vars.$font-secondary;
  text-shadow: 2px 2px black;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 1em;
  cursor: pointer;
  font-weight: bold;

  border: 3px solid white;
  border-radius: .5em;
  transition: .5s;
}

.pgg-btn-l:hover{
  transform: scale(.8);
}

.pgg-appear-anim{
  animation: glob-appear-anim .5s;
}

@keyframes glob-appear-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}