$color-purple: #5d00ff;
$color-cyan: #23ebc3;
$color-gold: #FFD700;
$color-greenyellow: #ADFF2F;
$color-red: crimson;
$color-blue: #0305e1;


$color-primary: #f00;
$color-white: #dfd;

$color-bg-1--light: #003534;
$color-bg-2--light: #5d00ff;

$color-bg-3--light: #4bee70;
$color-bg-4--light: #fff87b;

$color-bg-dark: #060b21;
$color-font-primary: #ddd;
$color-font-invert: #222;

$color-accent: #ff8f00;

$font-size-l: 3em;
$font-size-s-r: 2vw;
$font-size-m-r: 3vw;
$font-size-l-r: 5vw;

$font-size-l-rw: 5vw;

//$font-secondary: Nosifer, serif;
//$font-primary: Jolly, serif;
$font-primary: Bubblegum, serif;
$font-secondary: Frijole, serif;
$img-intro: url("/assets/img/intropic.jpg");
$img-bg: url("/assets/img/mosaic.jpg");
$img-rainbow-strip: url("/assets/img/rainbow-strip.png");


$board-tiles-min-wid: 160px;

$tile-size: 10rem;
$tile-size-r: 15vw;

$tile-type-size: 15vh;

$avatar-size: 64px;

$screen-width-breakpoint: 576px;
$screen-height-breakpoint: 420px;

$screen-small-h: 420px;
$screen-small-w: 576px;
$screen-mid-w: 992px;
